<div class="container">
  <div class="row">
    <h4 style="margin-top: 15px">Cadastro:</h4>
    <div class="row">
      <div class="col-12 form-group">
        <label for="cep" class="form-label mb-b-0">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nome Completo"
          mask="00000-000"
          required
        />
      </div>
      <div class="col-6 form-group">
        <label for="" class="form-label mb-b-0">CPF</label>
        <input type="text" class="form-control" placeholder="CPF" required />
      </div>
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0"
          >RG <small>(Opcional)</small></label
        >
        <input type="text" class="form-control" placeholder="RG" />
      </div>
    </div>
    <div class="row">
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0">Complemento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex: Apartamento 2 bloco A"
        />
      </div>
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0">Bairro</label>
        <input type="text" class="form-control" placeholder="Bairro" required />
      </div>
      <div class="col-3">
        <label for="" class="form-label mb-b-0">Cidade</label>
        <input type="text" class="form-control" placeholder="Cidade" required />
      </div>
      <div class="col-3">
        <label for="" class="form-label mb-b-0">Estado</label>
        <input
          type="text"
          class="form-control"
          placeholder="Estado"
          maxlength="2"
          required
        />
      </div>
    </div>
    <h4 style="margin-top: 30px">Endereço:</h4>
    <div class="row">
      <div class="col-3 form-group">
        <label for="cep" class="form-label mb-b-0">CEP</label>
        <input
          type="text"
          class="form-control"
          placeholder="Informe o CEP"
          mask="00000-000"
          required
        />
      </div>
      <div class="col-6 form-group">
        <label for="" class="form-label mb-b-0">Rua/Av.</label>
        <input
          type="text"
          class="form-control"
          placeholder="Rua ou avenida"
          required
        />
      </div>
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0">Número</label>
        <input type="text" class="form-control" #numero placeholder="Número" />
      </div>
    </div>
    <div class="row">
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0">Complemento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex: Apartamento 2 bloco A"
        />
      </div>
      <div class="col-3 form-group">
        <label for="" class="form-label mb-b-0">Bairro</label>
        <input type="text" class="form-control" placeholder="Bairro" required />
      </div>
      <div class="col-3">
        <label for="" class="form-label mb-b-0">Cidade</label>
        <input type="text" class="form-control" placeholder="Cidade" required />
      </div>
      <div class="col-3">
        <label for="" class="form-label mb-b-0">Estado</label>
        <input
          type="text"
          class="form-control"
          placeholder="Estado"
          maxlength="2"
          required
        />
      </div>
    </div>
  </div>
  <div class="row">
    <h4 style="margin-top: 30px">Contato:</h4>
    <div class="row">
      <div class="col-6 form-group">
        <label for="cep" class="form-label mb-b-0">Celular</label>
        <input
          type="text"
          class="form-control"
          placeholder="Celular"
          mask="00000-000"
          required
        />
      </div>
      <div class="col-6 form-group">
        <label for="" class="form-label mb-b-0">Telefone</label>
        <input
          type="text"
          class="form-control"
          placeholder="Telefone"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="" class="form-label mb-b-0">E-mail</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex: maria@exemplo.com"
        />
      </div>
    </div>
  </div>
  <button type="submit"  style="margin-top: 5%; margin-bottom: 5%;" class="btn btn-primary">Salvar</button>
</div>
