
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <main class="login">
    <div class="main-login">
      <div class="top">
        <a>Iniciar Sessão</a><a class="toggle-top" routerLink="../register">Cadastrar</a>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <h1>Iniciar Sessão</h1>
            <input type="text" formControlName="username" class="usr put" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>

            <br/>
            <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password" class="pss put" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <span class="showPass" (click)="showPass()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="15" height="15">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>


        <div>
            <button [disabled]="loading" class="sub">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Login
            </button>

        </div>
    </form>
        <div class="lines">
          <div style="background-color: #a5a5a5" class="line"></div>
          <p style="color: #a5a5a5" class="p-b">or</p>
          <div style="background-color: #a5a5a5" class="line"></div>
        </div>
        <button style="border: 2px solid" class="sub pic facebook">
          <div class="logo2"></div>
          Iniciar sessão com Facebook
        </button>
        <button style="border: 2px solid" class="sub pic google">
          <div class="logo"></div>
          Iniciar sessão com Google
        </button>
    </div>
    <div class="banner">
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="contain">
        <h1>Bem vindo!</h1>
        <h4>
          Estamos felices em te ver por aqui! por favor inicie sessão para
          continuar.
        </h4>
        <div class="lines">
          <div class="line"></div>
          <p class="p-b">ou</p>
          <div class="line"></div>
        </div>
        <p class="pp">Se você não tem uma conta não se preocupe</p>
        <br/>
        <a routerLink="../register" class="main-btn">Cadastre-se agora</a>
      </div>
    </div>
  </main>

  <script>
    function show() {
      var x = document.getElementById("pass");
      var y = document.getElementById("bhde");
      if (x.type === "password") {
        x.type = "text";
        y.innerText = "Hide";
      } else {
        x.type = "password";
        y.innerText = "Show";
      }
    }
  </script>
</body>




