<!-- <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div> -->

<!-- aqui -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <main class="login">
    <div class="main-login">
      <div class="top">
        <a  class="toggle-top" a routerLink="../login">Iniciar Sessão</a><a>Cadastrar</a>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <h1>Registrar</h1>
          <input placeholder="Nome" type="text" formControlName="firstName" class="usr put" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Nome is required</div>
            </div>
            <br/>
            <input placeholder="Sobrenome" type="text" formControlName="lastName" class="usr put" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            <br/>
            <input placeholder="Usuário" type="text" formControlName="username" class="usr put" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            <br/>
            <input placeholder="Senha" type="password" formControlName="password" class="pss put" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>

        <div>
            <button [disabled]="loading" class="sub">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Registrar
            </button>
            <br/>
            <a routerLink="../login" class="text-sm text-slate-700" style="color: gray; text-decoration: none;">Cancel</a>

        </div>

        <div class="lines">
          <div style="background-color: #a5a5a5" class="line"></div>
          <p style="color: #a5a5a5" class="p-b">or</p>
          <div style="background-color: #a5a5a5" class="line"></div>
        </div>
        <button style="border: 2px solid" class="sub pic facebook">
          <div class="logo2"></div>
          Registrar com Facebook
        </button>
        <button style="border: 2px solid; margin-bottom: 20px;" class="sub pic google">
          <div class="logo"></div>
          Registrar com Google
        </button>
        </form>
    </div>

    <div class="banner">
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="contain">
        <h1>Bem vindo!</h1>
        <h4>
          Estamos felices em te ver por aqui!
        </h4>
        <div class="lines">
          <div class="line"></div>
          <p class="p-b">ou</p>
          <div class="line"></div>
        </div>
        <p class="pp">Se você já tem uma conta não se preocupe</p>
        <br/>
        <a  routerLink="../login" class="main-btn">Iniciar Sessão</a>
      </div>
    </div>
  </main>

  <script>
    function show() {
      var x = document.getElementById("pass");
      var y = document.getElementById("bhde");
      if (x.type === "password") {
        x.type = "text";
        y.innerText = "Hide";
      } else {
        x.type = "password";
        y.innerText = "Show";
      }
    }
  </script>
</body>




