<div class="card-atendimentos">

  <i style="float: right;" class="fas fa-box-archive"></i>
  <i style="float: right; margin-right: 10px;" class="fas fa-plus"></i>
  <p><strong>Tarefas</strong></p>
  <div class="tabela">
    <!-- Default checkbox -->
    <div *ngFor="let anotacao of anotacoes">
      <div class="form-check">
        <input [checked]="anotacao.checked" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          {{anotacao.anotacao}}
        </label>
        <div *ngIf="anotacao.checked">
          <p style="color: gray; font-size: smaller; float: right;">Arquivar</p>
        </div>
      </div>
    </div>

  </div>

</div>
