<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<nav class="menu">
  <ul>
    <li class="lista-logo">
      <a href="#">
        <i class="fa fa-angellist"></i>
        <span class="span-menu">Logo</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-feed"></i>
        <span class="span-menu">Feed</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-commenting"></i>
        <span class="span-menu">Comentários</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-search"></i>
        <span class="span-menu">Busca</span>
      </a>
    </li>
    <li class="li-empresa">
    <a href="#">
      <i class="fa fa-clock-o"></i>
      <span class="span-menu">Novo</span>
    </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-bar-chart"></i>
        <span class="span-menu">Negócios</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-product-hunt"></i>
        <span class="span-menu">Produtos</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-scribd"></i>
        <span class="span-menu">Serviços</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-server"></i>
        <span class="span-menu">Casos de Uso</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-database"></i>
        <span class="span-menu">Banco de Dados</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-connectdevelop"></i>
        <span class="span-menu">Desenvolvimento</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-industry"></i>
        <span class="span-menu">Indústria</span>
      </a>
    </li>
    <li class="lista">
      <a href="#">
        <i class="fa fa-mail-forward"></i>
        <span class="span-menu">Mídias Sociais</span>
      </a>
    </li>
    <li class="li-contato">
      <a href="#">
        <i class="fa fa-user"></i>
        <span class="span-menu">Login</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="span-menu">Contato</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-question-circle"></i>
        <span class="span-menu">Help</span>
      </a>
    </li>
  </ul>
</nav>
<!-- nav -->

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
