		<nav class="menu">
			<ul>
				<li>
					<a href="#">
						<i class="fas fa-feed"></i>
						<span class="span-menu">Painel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-commenting"></i>
						<span class="span-menu">Agenda</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-search"></i>
						<span class="span-menu">Clientes</span>
					</a>
				</li>
				<li>
				<a href="#">
					<i class="fa fa-clock-o"></i>
					<span class="span-menu">Relatórios</span>
				</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-bar-chart"></i>
						<span class="span-menu">Financeiro</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-product-hunt"></i>
						<span class="span-menu">Minha clínica</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-scribd"></i>
						<span class="span-menu">Configuração</span>
					</a>
				</li>
				<li class="li-logout">
					<a (click)="logout()">
						<i class="fa fa-user"></i>
						<span class="span-menu">Logout</span>
					</a>
				</li>
			</ul>
		</nav>
