<div class="card-atendimentos">
  <p><strong>Hoje:</strong></p>
  <p style="font-weight: 500;">Seguinte Atendimento:</p>
  <div *ngIf="clienteAgora">
    <div class="clienteAgora">
      <div class="container" style="padding: 15px;">
        <div class="row">
          <div class="col-md-4">
            <img class="clienteAgoraFoto" [src]="clienteAgora.imagem" alt="" />
          </div>
          <div class="col-md-8" style="text-align: right;">
            <h3>{{clienteAgora.nome}}</h3>
            <div style="display: flex; justify-content: end; margin-bottom: -8%">
              <i class="fas fa-clock"></i>
              <p style="margin-left: 10px;">{{clienteAgora.data | date: 'shortTime'}}</p>
            </div>
            <p><strong>{{presencial(clienteAgora.presencial)}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!clienteAgora">
    <p style="color: rgb(116, 116, 116); font-size: small;">Nada para mostrar</p>
  </div>
  <p style="font-weight: 500;">Proximos Atendimentos:</p>
  <div *ngIf="haClientesDepois">
    <div *ngFor="let item of clienteDepois">
    </div>
  </div>
  <div style="display: flex; flex-direction: column;" *ngIf="!haClientesDepois">
    <p style="color: rgb(116, 116, 116); font-size: small;">Nada para mostrar</p>
    <button class="btn">Adicionar Agendamento</button>
  </div>
</div>
