<div class="card-atendimentos">
  <div class="colunas">
    <div class="coluna">
      <table>
        <thead>

            <th>
              Segunda
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Terça -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Terça
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Quarta -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Quarta
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- quinta -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Quinta
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- sexta -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Sexta
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- sabado -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Sábado
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- domingo -->
    <div class="coluna">
      <table>
        <thead>

            <th>
              Domingo
            </th>

        </thead>
        <tbody>
          <tr *ngFor="let day of days">
            {{day}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
