<div class="card-atendimentos">
  <p><strong>Minha Semana</strong></p>
  <div class="tabela">
    <table mat-table [dataSource]="dataSource" class="table-agenda">
      <!-- Coluna da Data -->
      <ng-container matColumnDef="data">

        <th mat-header-cell *matHeaderCellDef></th>


        <td class="data" mat-cell *matCellDef="let element">
          <div *ngIf="!element.transparent">
            <div class="dia">
              {{ element.dia }}
            </div>
            <div class="fecha">
              {{element.data}}
            </div>
          </div>
        </td>

      </ng-container>

      <!-- Coluna da Agenda -->
      <ng-container matColumnDef="agenda">
        <th mat-header-cell *matHeaderCellDef></th>

        <td mat-cell *matCellDef="let element">
          <div class="evento">{{ element.agenda }} </div>
        </td>
      </ng-container>

      <!-- Define as colunas a serem exibidas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
