<div class="container">
  <div class="calendario-titulo">
    <div>
        <button (click)="alterarMes(-1)">ant.</button>
    </div>
    <div class="calendario-titulo-mes-ano">
        {{dataAtual | date : 'MMM yyyy'}}
    </div>
    <div>
        <button (click)="alterarMes(+1)">prox.</button>
    </div>
</div>
<div class="calendario-dias">
    <!-- Aqui renderizamos o nome do dia da semana -->
    <ng-container *ngFor="let dia of diasCalendario; let i = index">
        <div *ngIf="i < 7">
            <strong>{{ dia | date: 'EEEEE' }}</strong>
        </div>
    </ng-container>

    <!--
         Dias que aparecem no calendário.

         Aqui vale comentar que podemos adicionar
         classes CSS de forma condicional da
         seguinte forma:
           [class.minhaclasse]="condição"
    -->
    <div *ngFor="let dia of diasCalendario; let i = index"
        class="calendario-dia"
        [class.calendario-quebrar-linha]="i % 7 === 0"
        [class.calendario-dia-nao-faz-parte-mes-atual]="dataAtual.getMonth() !== dia.getMonth()">
        {{dia | date : 'dd'}}
    </div>
</div>
</div>
